<div class="bar bar-header bar-positive">
  <button class="button button-clear" ui-sref="pages">
    <i class="ion ion-android-arrow-back"></i> 返回
  </button>
  <h1 class="title" ng-bind="title"></h1>
</div>

<div class="scroll-content has-header">
  <div class="overflow-scroll">

    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input">
        <textarea placeholder="Comments"></textarea>
      </label>
    </div>

    <div class="padding-horizontal">
      <button class="button button-positive button-block">Submit</button>
    </div>

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email">
      </label>
    </div>

    <div class="padding-horizontal">
      <button class="button button-positive button-block">Create Account</button>
    </div>

  </div>
</div>
