<div class="bar bar-header bar-positive">
  <button class="button button-clear" ui-sref="pages">
    <i class="ion ion-android-arrow-back"></i> 返回
  </button>
  <h1 class="title" ng-bind="title"></h1>
</div>

<div class="scroll-content has-header">
  <div class="scroll padding">

    <button class="button button-block button-light">
      button-light
    </button>

    <button class="button button-block button-stable">
      button-stable
    </button>

    <button class="button button-block button-positive">
      button-positive
    </button>

    <button class="button button-block button-calm">
      button-calm
    </button>

    <button class="button button-block button-balanced">
      button-balanced
    </button>

    <button class="button button-block button-energized">
      button-energized
    </button>

    <button class="button button-block button-assertive">
      button-assertive
    </button>

    <button class="button button-block button-royal">
      button-royal
    </button>

    <button class="button button-block button-dark">
      button-dark
    </button>
  </div>
</div>
