<div class="bar bar-header bar-positive">
  <button class="button button-clear" ui-sref="pages">
    <i class="ion ion-android-arrow-back"></i> 返回
  </button>
  <h1 class="title" ng-bind="title"></h1>
</div>

<div class="scroll-content has-header stable-bg">
  <div class="overflow-scroll">

    <ul class="list">

      <!-- Toggle -->
      <li class="item item-toggle">
        通知
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

    </ul>

    <!-- Range -->
    <div class="item range">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume">
      <i class="icon ion-volume-high"></i>
    </div>

    <div class="list">
      <div class="item range range-positive">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="icon ion-ios-sunny"></i>
      </div>
    </div>


    <!-- Checkbox -->
    <div class="item">
      多选
    </div>

    <label class="item item-checkbox item-icon-left">
      <div class="checkbox checkbox-input-hidden">
        <input type="checkbox" ng-model="checkbox.red">
      </div>

      <div class="item-content">
        <i class="icon"
           ng-class="{'ion-ios-circle-outline grey': !checkbox.red,
           'ion-ios-checkmark assertive': checkbox.red}"></i>
        <span>选项 1</span>
      </div>
    </label>

    <label class="item item-checkbox item-icon-left">
      <div class="checkbox checkbox-input-hidden">
        <input type="checkbox" ng-model="checkbox.blue">
      </div>

      <div class="item-content">
        <i class="icon"
           ng-class="{'ion-ios-circle-outline grey': !checkbox.blue,
           'ion-ios-checkmark assertive': checkbox.blue}"></i>
        <span>选项 2</span>
      </div>
    </label>

    <div class="item item-divider"></div>

    <!-- Radio -->
    <div class="item">
      单选
    </div>

    <label class="item item-radio item-icon-right">
      <input type="radio" ng-model="radio.color" value="red">

      <div class="item-content">
        Red
        <i class="icon" ng-class="{'ion-ios-checkmark-empty assertive': radio.color == 'red'}"></i>
      </div>

    </label>

    <label class="item item-radio item-icon-right">
      <input type="radio" ng-model="radio.color" value="blue">

      <div class="item-content">
        Blue
        <i class="icon" ng-class="{'ion-ios-checkmark-empty assertive': radio.color == 'blue'}"></i>
      </div>
    </label>


  </div>
</div>
