<div class="bar bar-header bar-positive">
  <button class="button button-clear" ui-sref="pages">
    <i class="ion ion-android-arrow-back"></i> 返回
  </button>
  <h1 class="title" ng-bind="title"></h1>
</div>

<div class="scroll-content has-header stable-bg">
  <div class="overflow-scroll">

    <ul class="list">

      <!-- Toggle -->
      <li class="item item-toggle">
        通知
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

    </ul>

    <!-- Range -->
    <div class="item range">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume">
      <i class="icon ion-volume-high"></i>
    </div>

    <div class="list">
      <div class="item range range-positive">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="icon ion-ios-sunny"></i>
      </div>
    </div>

    <!-- Checkbox -->
    <label class="item item-checkbox">
      <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
        <input type="checkbox" ng-model="checkbox.val" ng-change="checkboxChanged(1)">
        <i class="ion" style="font-size: 54px"
           ng-class="{'ion-ios-circle-outline grey': checkbox.val!=1,
           'ion-ios-checkmark assertive': checkbox.val==1}"></i>
      </div>

      <div class="item-content disable-pointer-events">
        <span>选项 1</span>
      </div>
    </label>

    <label class="item item-checkbox">
      <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
        <input type="checkbox" ng-model="checkbox.val" ng-change="checkboxChanged(2)">
        <i class="ion" style="font-size: 56px"
           ng-class="{'ion-ios-circle-outline grey': checkbox.val!=2,
           'ion-ios-checkmark assertive': checkbox.val==2}"></i>
      </div>

      <div class="item-content disable-pointer-events">
        <span>选项 2</span> {{filter.blue}}
      </div>
    </label>

  </div>
</div>
